form.analysis p, #models-analyses, .model-card, .model-card article, .model-card p, .model-card li, #graph-display, #graph-adjustments, #legend, #legend li, #zoom, #zoom ul, #data-display, #data-display div, #highlights, #highlights div, #highlights aside, #highlights article, #future-evaluations, #executive-level {
    display: grid;
}

main.analysis section {
    grid-template-rows: repeat(2, auto);
    background: white;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
}

#models-analyses {
    row-gap: 25px;
}

#graph-adjustments, #highlights aside {
    row-gap: 20px;
}

form.analysis p, .model-card article, #legend, #zoom, #highlights article {
    row-gap: 10px;
}

#graph-display, #executive-level {
    column-gap: 25px;
}

#zoom ul, #legend li {
    column-gap: 10px;
}

.model-card article, #data-display div, #highlights div, #future-evaluations form {
    padding: 20px;
}

main.analysis h2 {
    padding: 10px;
}

.model-card p, #data-display div {
    grid-template-columns: 1fr 3fr;
}

.model-card li, #highlights div {
    grid-template-columns: 1fr 2fr;
}

form.analysis p {
    grid-template-columns: 1fr;
}

#zoom {
    grid-template-rows: 20px 25px;
}

#zoom ul {
    grid-template-columns: 25px 25px;
}

#graph-display {
    grid-template-columns: 480px 140px;
}

#legend {
    grid-template-rows: 20px repeat(9, 25px);
}

#legend li {
    grid-template-columns: 25px auto;
}

#executive-level {
    grid-template-columns: repeat(3, auto);
    margin: -15px 0;
}

#graph-display, #highlights div, #highlights aside {
    align-items: start;
}

.box {
    height: 25px;
    width: 25px;
}

#zoom button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

#executive-level button {
    width: 100%;
}

#future-evaluations form p {
    display: inline;
}

form.analysis label {
    font-style: normal;
    font-weight: normal;
}

.pink, .pink h2 { 
    background: pink;
    border-color: pink;
}

.green, .green h2 {
    background: green;
    border-color: green;
}

.blue, .blue h2 {
    background: blue;
    border-color: blue;
}

.brown, .brown h2 {
    background: brown;
    border-color: brown;
}

.orange, .orange h2 {
    background: orange;
    border-color: orange;
}

.yellow, .yellow h2 {
    background: yellow;
    border-color: yellow;
}

.purple, .purple h2 {
    background: purple;
    border-color: purple;
}

.red, .red h2 {
    background: red;
    border-color: red;
}

#future-evaluations {
    border-color: silver;
}

#future-evaluations h2 {
    background: silver;
}

#data-display, #highlights {
    border-color: black;
}

#data-display h2, #highlights h2, .black {
    background: black;
    color: white;
}

.blank {
    background: repeating-linear-gradient(
        45deg,
        lightgray,
        lightgray 2px,
        white 2px,
        white 4px
    );
}

#main-table, #main-table tr, #main-table td, #main-table th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

#main-table thead {
    background: lightgray;
}