#main-table {
    border-collapse: collapse;
}

#main-table, #main-table tr, #main-table td, #main-table th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

#main-table thead {
    background: lightgray;
}

#graph-container h1 {
    margin-bottom: -25px;
}
/* 
section.analysis label {
    margin-right: 10px;
} */
/* 
section.analysis button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

section.analysis button:hover {
    font-weight: bold;
} */

button.box {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

button.pink { 
    background: pink;
}

button.blue {
    background: blue;
}

button.yellow {
    background: yellow;
}

button.orange {
    background: orange;
}

button.red {
    background: red;
}

button.purple {
    background: purple;
}

button.brown {
    background: brown;
}

button.green {
    background: green;
}

button.black {
    background: black;
}

button.blank {
    background: repeating-linear-gradient(
        45deg,
        lightgray,
        lightgray 2px,
        white 2px,
        white 4px
    );
}

#zoom article {
    display: flex;
}

#zoom button {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#graph-display {
    display: flex;
    margin-top: -50px;
}

#graph-adjustments {
    display: grid;
    row-gap: 10px;
    margin-top: 50px;
}

#legend {
    display: grid;
    row-gap: 10px;
}

#legend button {
    margin-right: 10px;
}

#legend article {
    display: flex;
    align-items: center;
    height: 25px;
}
/* 
section.graph-adjustments p {
    margin: 0;
} */

section.model-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
}

section.model-card h2 {
    margin: 0;
    padding: 10px;
}

section.model-card article {
    padding: 0 20px;
}

section.model-card.pink {
    border: 5px solid pink;
}

section.model-card.pink h2 {
    background: pink;
}

section.model-card.green {
    border: 5px solid green;
}

section.model-card.green h2 {
    background: green;
}

section.model-card.blue {
    border: 5px solid blue;
}

section.model-card.blue h2 {
    background: blue;
}

section.model-card.red {
    border: 5px solid red;
}

section.model-card.red h2 {
    background: red;
}

section.model-card.brown {
    border: 5px solid brown;
}

section.model-card.brown h2 {
    background: brown;
}

section.model-card.yellow {
    border: 5px solid yellow;
}

section.model-card.yellow h2 {
    background: yellow;
}

section.model-card.orange {
    border: 5px solid orange;
}

section.model-card.orange h2 {
    background: orange;
}

section.model-card.purple {
    border: 5px solid purple;
}

section.model-card.purple h2 {
    background: purple;
}

#models-analyses {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    row-gap: 20px;
    /* column-gap: 20px; */
    /* margin-top: 50px; */
}

#data-display {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid black;
}

#data-display h2 {
    margin: 0;
    padding: 10px;
    background: black;
    color: white;
}

#data-display article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: white;
    padding: 20px;
}

#future-evaluations {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid silver;
}

#future-evaluations h2 {
    margin: 0;
    padding: 10px;
    background: silver;
}

#future-evaluations article {
    padding: 0 20px;
}

#highlights {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px solid black;
}

#highlights h2 {
    margin: 0;
    padding: 10px;
    background: black;
    color: white;
}

#highlights article {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#highlights form label {
    font-style: normal;
    font-weight: normal;
}

#note textarea {
    height: 150px;
}