/* section.submission {
    display: grid;
    row-gap: 10px;
}

button.submission {
    display: block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    justify-self: center;
}

button.submission:hover {
    font-weight: bold;
} */