main.about ul {
    list-style-type: disc;
    padding-left: 50px;
}

main.about li mark {
    margin-right: 10px;
}

main.about ul ul {
    list-style-type: circle;
}

main.about ul ul mark {
    font-weight: normal;
}