table.main-table {
    border-collapse: collapse;
}

table.main-table, table.main-table tr, table.main-table td, table.main-table th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

table.main-table thead {
    background: lightgray;
}

.graph-container h1 {
    margin-bottom: -25px;
}

section.analysis label {
    margin-right: 10px;
}

section.analysis button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-left: 10px;
}

section.analysis button:hover {
    font-weight: bold;
}

button.box {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

button.pink { 
    background: pink;
}

button.blue {
    background: blue;
}

button.yellow {
    background: yellow;
}

button.orange {
    background: orange;
}

button.red {
    background: red;
}

button.purple {
    background: purple;
}

button.brown {
    background: brown;
}

button.green {
    background: green;
}

button.black {
    background: black;
}

button.blank {
    background: white;
}

section.zoom article {
    display: flex;
}

section.zoom button {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

section.graph-section {
    display: flex;
    margin-top: -50px;
}

section.graph-adjustments {
    display: grid;
    row-gap: 10px;
    margin-top: 50px;
}

section.display-graphs {
    display: grid;
    row-gap: 10px;
}

section.display-graphs button {
    margin-right: 10px;
}

section.display-graphs article {
    display: flex;
    align-items: center;
    height: 25px;
}

section.graph-adjustments p {
    margin: 0;
}