table.main-table {
    border-collapse: collapse;
}

table.main-table, table.main-table tr, table.main-table td, table.main-table th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

table.main-table thead {
    background: lightgray;
}

.graph-container h1 {
    margin-bottom: -25px;
}

section.analysis label {
    margin-right: 10px;
}

section.analysis button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

section.analysis button:hover {
    font-weight: bold;
}

button.box {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

button.pink { 
    background: pink;
}

button.blue {
    background: blue;
}

button.yellow {
    background: yellow;
}

button.orange {
    background: orange;
}

button.red {
    background: red;
}

button.purple {
    background: purple;
}

button.brown {
    background: brown;
}

button.green {
    background: green;
}

button.black {
    background: black;
}

button.blank {
    background: repeating-linear-gradient(
        45deg,
        lightgray,
        lightgray 2px,
        white 2px,
        white 4px
    );
}

section.zoom article {
    display: flex;
}

section.zoom button {
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

section.graph-section {
    display: flex;
    margin-top: -50px;
}

section.graph-adjustments {
    display: grid;
    row-gap: 10px;
    margin-top: 50px;
}

section.display-graphs {
    display: grid;
    row-gap: 10px;
}

section.display-graphs button {
    margin-right: 10px;
}

section.display-graphs article {
    display: flex;
    align-items: center;
    height: 25px;
}

section.graph-adjustments p {
    margin: 0;
}

section.model-card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
}

section.model-card h2 {
    margin: 0;
    padding: 10px;
}

section.model-card article {
    padding: 0 20px;
}

section.model-card.pink {
    border: 5px solid pink;
}

section.model-card.pink h2 {
    background: pink;
}

section.model-card.green {
    border: 5px solid green;
}

section.model-card.green h2 {
    background: green;
}

section.model-card.blue {
    border: 5px solid blue;
}

section.model-card.blue h2 {
    background: blue;
}

section.model-card.red {
    border: 5px solid red;
}

section.model-card.red h2 {
    background: red;
}

section.model-card.brown {
    border: 5px solid brown;
}

section.model-card.brown h2 {
    background: brown;
}

section.model-card.yellow {
    border: 5px solid yellow;
}

section.model-card.yellow h2 {
    background: yellow;
}

section.model-card.orange {
    border: 5px solid orange;
}

section.model-card.orange h2 {
    background: orange;
}

section.model-card.purple {
    border: 5px solid purple;
}

section.model-card.purple h2 {
    background: purple;
}

section.all-models {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 50px;
}

section.data-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}