@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&display=swap');

body {
    background: darkblue;
    margin: 0;
    font-family: 'Noto Serif', serif;
}

header {
    font-size: 60px;
    text-align: center;
    margin: 25px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}

footer {
    font-style: italic;
    text-align: center;
    margin: 50px 0;
}

main {
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 25px 25px 25px;
    margin: 0 150px;
    min-height: 600px;
}

mark {
    background: none;
    font-weight: bold;
    font-style: italic;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    margin-top: 150px;
    background: lightblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

nav li {
    display: block;
    width: 100px;
    height: 100px;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
}

nav li:hover {
    font-weight: bold;
}